body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #020617;
    border-bottom: 1px solid #1e293b;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: #38bdf8;
    margin-bottom: 10px;
}

.container {
    padding: 60px 10%;
}

.card {
    background: #1e293b;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(56,189,248,0.05);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(56,189,248,0.2);
}

ul {
    line-height: 1.8;
}

.code-box {
    background: #0a0f1f;
    font-family: monospace;
}

pre {
    color: #22d3ee;
    font-size: 14px;
}

.btn {
    background: #38bdf8;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background: #22d3ee;
    transform: scale(1.05);
}

.center {
    text-align: center;
}

footer {
    text-align: center;
    padding: 25px;
    background: #020617;
    margin-top: 50px;
    font-size: 14px;
    color: #94a3b8;
}

/* Responsive */
@media(max-width:768px){
    .container{
        padding:40px 5%;
    }
}
